<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231505840801-2kjqhkpim5eoi479dq9pb7688nhj9o34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231505840801-2kjqhkpim5eoi479dq9pb7688nhj9o34</string>
	<key>API_KEY</key>
	<string>AIzaSyCTO3kgFsW_8owesSXa6csximPj47H4f-E</string>
	<key>GCM_SENDER_ID</key>
	<string>231505840801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseConection</string>
	<key>PROJECT_ID</key>
	<string>test-4904e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-4904e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231505840801:ios:130b3944bdb8695869bee0</string>
</dict>
</plist>